<template name="mainNavContentsFunction">

    <section id="function">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="page-header text-center col-sm-12 col-lg-12">
                    <h2>Functions</h2>
                </div>
            </div>

            <!-- Example row of columns -->
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <h3>Function Machine</h3>
                    <p>Sketch or build a “function machine” that takes objects in and then transforms them. 
                       Make up a rule your kid will be able to guess, but not immediately. 
                       Let the kid put in different inputs to see what happens to them and to guess the transformation rule </p>
                    <p>
                        <a class="btn btn-primary" href="#play">Let's Play! »</a>
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <h3>Walk Around In Circles</h3>
                    <p>Choose a function you like. 
                       Connect the function machine’s output with its input to create a loop. 
                       Apply the function again .. and again .. and again. See what happens!</p>
                    <p><a class="btn btn-primary" href="#play">Let's Play »</a></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <h3>New Functions From Old</h3>
                    <p>Create or find two function machines. Attach the output of one of them to the input of the other. This is called “composition of functions. Some work, some don't. Try many compositions and see what happens!”</p>
                    <p><a class="btn btn-primary" href="#play">Let's Play »</a></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <h3>Silly Robot</h3>
                    <p>Choose a simple physical task, such as filling a glass with water, or putting on shoes. The “silly robot” should be someone who knows the game well. Robot only understands simple, one-step commands, such as “move forward” or “pick up the glass.” ”</p>
                    <p><a class="btn btn-primary" href="#play">Let's Play »</a></p>
                </div>
            </div>
            <hr>

        </div><!-- / CONTAINER-->
    </section>

</template>