<template name="origMain">
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Moby Deck</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Symmetry</a></li>
                <li><a href="#">Number</a></li>
                <li><a href="#">Function</a></li>
                <li><a href="#">Grid</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Explore <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right visible-lg" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>

<!-- CONTENT CONTAINER-->

<div class="container">

    <!--###################-->
    <!-- START PORTFOLIO -->
    <!--###################-->
    <div id="container-folio" style="position:relative">

        <!-- portfolio item -->
        <div class="box col-xs-12 col-md-4 col-sm-6 col-lg-3">
            <!-- START WRAPPER IMG THUMBNAIL-->
            <div class="thumbnail">
                <!-- NAV LINKS -->
                <div class="plus">
                    <a href="#" title="read more" class="btn btn-medium btn-default"><i class="fa-icon-heart"></i> Like</a>
                    <a href="#" title="pin it" class="btn btn-medium btn-danger">Pin it</a>
                </div>
                <!-- /NAV LINKS -->
                <!-- / IMAGE-->
                <img class="img-responsive" src="/images/robot.png" alt="">
                <!-- / IMAGE-->
                <div class="caption">
                    <!-- TITLE-->
                    <h3 class="single-title"><a href="#" title="">Walk Around In Circles</a></h3>
                    <!-- END TITLE-->
                    <!-- META-->
		<span class="meta">
			<i class="fa-icon-calendar"></i> September 16, 2013
		</span>
                    <!-- END META-->
                    <!-- PARAGRAPH -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
                    </p>
                    <!-- /PARAGRAPH -->

                </div><!-- /caption-->
            </div>
        </div>
        <!-- END portfolio item -->

        <!-- portfolio item -->
        <div class="box col-xs-12 col-md-4 col-sm-6 col-lg-3">
            <!-- START WRAPPER IMG THUMBNAIL-->
            <div class="thumbnail">
                <!-- NAV LINKS -->
                <div class="plus">
                    <a href="#" title="read more" class="btn btn-medium btn-default"><i class="fa-icon-heart"></i> Like</a>
                    <a href="#" title="pin it" class="btn btn-medium btn-danger">Pin it</a>
                </div>
                <!-- /NAV LINKS -->
                <!-- / IMAGE-->
                <img class="img-responsive" src="/images/robot.png" alt="">
                <!-- / IMAGE-->
                <div class="caption">
                    <!-- TITLE-->
                    <h3 class="single-title"><a href="#" title="">Function Machine</a></h3>
                    <!-- END TITLE-->
                    <!-- META-->
		<span class="meta">
			<i class="fa-icon-calendar"></i> September 16, 2013
		</span>
                    <!-- END META-->
                    <!-- PARAGRAPH -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
                    </p>
                    <!-- /PARAGRAPH -->

                </div><!-- /caption-->
            </div>
        </div>
        <!-- END portfolio item -->

        <!-- portfolio item -->
        <div class="box col-xs-12 col-md-4 col-sm-6 col-lg-3">
            <!-- START WRAPPER IMG THUMBNAIL-->
            <div class="thumbnail">
                <!-- NAV LINKS -->
                <div class="plus">
                    <a href="#" title="read more" class="btn btn-medium btn-default"><i class="fa-icon-heart"></i> Like</a>
                    <a href="#" title="pin it" class="btn btn-medium btn-danger">Pin it</a>
                </div>
                <!-- /NAV LINKS -->
                <!-- / IMAGE-->
                <img class="img-responsive" src="/images/robot.png" alt="">
                <!-- / IMAGE-->
                <div class="caption">
                    <!-- TITLE-->
                    <h3 class="single-title"><a href="#" title="">New Functions From Old</a></h3>
                    <!-- END TITLE-->
                    <!-- META-->
		<span class="meta">
			<i class="fa-icon-calendar"></i> September 16, 2013
		</span>
                    <!-- END META-->
                    <!-- PARAGRAPH -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
                    </p>
                    <!-- /PARAGRAPH -->

                </div><!-- /caption-->
            </div>
        </div>
        <!-- END portfolio item -->

        <!-- portfolio item -->
        <div class="box col-xs-12 col-md-4 col-sm-6 col-lg-3">
            <!-- START WRAPPER IMG THUMBNAIL-->
            <div class="thumbnail">
                <!-- NAV LINKS -->
                <div class="plus">
                    <a href="#" title="read more" class="btn btn-medium btn-default"><i class="fa-icon-heart"></i> Like</a>
                    <a href="#" title="pin it" class="btn btn-medium btn-danger">Pin it</a>
                </div>
                <!-- /NAV LINKS -->
                <!-- / IMAGE-->
                <img class="img-responsive" src="/images/robot.png" alt="">
                <!-- / IMAGE-->
                <div class="caption">
                    <!-- TITLE-->
                    <h3 class="single-title"><a href="#" title="">Silly Robot</a></h3>
                    <!-- END TITLE-->
                    <!-- META-->
		<span class="meta">
			<i class="fa-icon-calendar"></i> September 16, 2013
		</span>
                    <!-- END META-->
                    <!-- PARAGRAPH -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt.
                    </p>
                    <!-- /PARAGRAPH -->

                </div><!-- /caption-->
            </div>
        </div>
        <!-- END portfolio item -->

    </div><!--/ROW-->
    <!--###################-->
    <!-- END PORTFOLIO -->
    <!--###################-->

    <hr>
    <div class="row">
        <!-- PAGINATION-->
        <div class="col-12 col-lg-12 text-center">

            <ul class="pagination text-center">
                <li class="disabled"><a href="#">Previous</a></li>
                <li class="active" id="page_nav"><a href="#">1</a></li>
                <li id="page_nav1"><a href="#">2</a></li>
                <li id="page_nav2"><a href="#">3</a></li>
                <li id="page_nav3"><a href="#">4</a></li>
                <li id="page_nav4"><a href="#">5</a></li>
                <li id="page_nav5"><a href="#">Next</a></li>
            </ul>
        </div>
        <!-- END PAGINATION-->
    </div>
    <hr>

    <footer>
        <p><a href="http://www.bootstraptor.com" title=""> Built with ©Bootstraptor 2013</a></p>
    </footer>

</div> <!-- /container -->


</template>